.bucketCursor {
  cursor: url("../assets/images/bucket.png"), auto;
}
.pippeteCursor {
  cursor: url("../assets/images/pipette.png"), auto;
}
.pencilCursor {
  cursor: url("../assets/images/pencil.png"), auto;
}
.eraserCursor {
  cursor: url("../assets/images/eraser.png"), auto;
}
.strokeCursor {
  cursor: url("../assets/images/stroke.png"), auto;
}
.rectangleCursor {
  cursor: url("../assets/images/rectangle.png"), auto;
}
.button,
label {
  display: flex;
  margin-bottom: 10px;
  padding: 0.5rem;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  &:active {
    background-color: rgba(201, 188, 188, 0.678);
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  }
}
