@import "base/normalize";
@import "base/fonts";
@import "abstracts/variables";

body {
  width: 1440px;
  margin: 0 auto;
  font-family: $font-1;
  text-align: center;
  color: #ffffff;
  background-color: rgb(18, 18, 18);
}
.header {
  position: relative;
  display: flex;
  padding-top: 30px;

  & img {
    margin-top: 17px;
    padding: 10px;
    background: #ffffff;
  }
}
.welcome {
  margin: 35px auto;
  letter-spacing: 1.5px;
}
.main {
  width: 100%;
  margin: 80px auto;
}
.footer {
  margin-top: 35px;
}
.recomendations {
  display: flex;
  flex-direction: column;
}
.gifbox {
  display: flex;
  justify-content: center;
}
.frame-container {
  margin-top: 20px;
}
.annotation {
  font-size: 20px;
}
.tg-icon,
.vk-icon,
.github-icon {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.tg-icon {
  background: url(../assets/images/tgicon.png);
  background-size: cover;
}
.vk-icon {
  background: url(../assets/images/vkicon.png);
  background-size: cover;
}
.github-icon {
  background: url(../assets/images/octocat.gif);
  background-size: cover;
}
.footer-information {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}
.preview {
  max-width: 600px;
  max-height: 650px;
}

.glitch,
.glitch1 {
  position: relative;
  margin: 30px auto;
  font-size: 40px;
  color: white;
  background-color: black;
  border: 1px solid white;
}
.glitch1 {
  margin: 60px auto;
  border: none;
}
.glitch {
  margin-left: 26%;
}
@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: -3px;
  overflow: hidden;
  color: white;
  text-shadow: -1px 0 red;
  background: black;
  animation: noise-anim 2s infinite linear alternate-reverse;
  clip: rect(0,900px,0,0);
}
.glitch1:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: -3px;
  overflow: hidden;
  color: white;
  text-shadow: -1px 0 red;
  background: black;
  animation: noise-anim 2s infinite linear alternate-reverse;
  clip: rect(0,900px,0,0);
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: -2px;
  overflow: hidden;
  color: white;
  text-shadow: 1px 0 blue;
  background: black;
  animation: noise-anim-2 3s infinite linear alternate-reverse;
  clip: rect(0,900px,0,0);
}
.glitch1:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: -2px;
  overflow: hidden;
  color: white;
  text-shadow: 1px 0 blue;
  background: #ffd700;
  animation: noise-anim-2 3s infinite linear alternate-reverse;
  clip: rect(0,900px,0,0);
}

.home-main__btn {
  margin: 15px;
  padding: 25px;
  background: black;
  border: 1px solid white;
  outline: 8px solid black;
}

.examples-section {
  &__text {
    padding-top: 100px;
    padding-bottom: 59px;
    font-size: 2.5rem;
  }
  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    & img {
      width: 250px;
      margin-top: 30px;
    }
  }
}

.bird-gif {
  border: 1px solid #929292;
}

.home-main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #525252;
  background-image: url(../assets/images/bgk.svg);
}

.home-main__text {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  font-size: 3rem;
  font-family: Roboto;
  letter-spacing: 2px;
  & span {
    margin: 50px auto;
    padding: 55px 20px 0 20px;
  }
}

.names:hover {
  color: #ffd700;
}

.function-tools {
  margin: 100px 0;
  padding: 30px 0 30px 0;
  background-color: #2d2d2d;
  background-image: url(../assets/images/bgk.svg);
  & h2 {
    font-weight: inherit;
    font-size: 2.5rem;
  }
}
.assets {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 50px 0;
}

.assets__item {
  display: flex;
  margin-top: 20px;
}

.assets__item-text {
  width: 360px;
  padding: 0 20px 0 20px;
  letter-spacing: 0.5px;
  & h3 {
    margin-bottom: 7px;
    font-size: 1.5rem;
  }
  & p {
    font-size: 1.2rem;
  }
}

.assets-right {
  margin-left: 10px;
  text-align: left;
}

.assets-left {
  margin-right: 10px;
  text-align: right;
}

.main-preview {
  width: 800px;
  background: url(../assets/images/main-preview.png);
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.disney-img {
  background: white;
}

.save-png {
  border: 1px solid white;
}
